/* CSS declarations go here */
h1 {
  text-align: center;
  color:grey;
}

.outer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 10px 0;
  padding: 10px;
  height: 500px;
  width: 400px;
  overflow: scroll;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.enterName {
  width: 200px;
  border: 2px solid;
  border-radius: 5px;
  height: 20px;
  margin: 5px;
}

.question, .answer {
  width: 250px;
  border: 2px solid;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  margin: 5px;
}

.showName {
  display: inline-block;
  width: 300px;
  font-size: 1.75em;
  color: blue;
  margin: 5px;
}

.questionList {
  cursor: pointer;
  margin: 5px;
}

.questionList:hover {
  color: blue;
  background-color: grey;
  width: 250px;
  border-radius: 3px;
  padding: 5px;
  opacity: .5;
}

.drop_answer_box {
  color: white;
  background-color: grey;
  border: 2px solid;
  display: none;
  border-radius: 7px;
  opacity: .5;
  padding: 5px;
}
.answer_list {
  color: blue;
  font-size: .85em;
}
.time {
  font-size: .65em;
}